.client-create-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  margin-top: 80px;
}

mat-card-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 30;
}

.button-group button {
  flex: 1;
  margin: 0 10px;
}

form {
  display: flex;
  flex-direction: column;
}
