<mat-card class="client-create-card">
  <mat-card-title>Novo Cliente</mat-card-title>
  <form>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="client.nome" name="nome">
    </mat-form-field>

    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input matInput [(ngModel)]="client.cpf" name="cpf">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input matInput [(ngModel)]="client.telefone" name="telefone">
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button (click)="createClient()" color="primary">
        Salvar
      </button>
      <button mat-raised-button (click)="cancel()" color="warn">
        Cancelar
      </button>
    </div>
  </form>
</mat-card>
