<button mat-raised-button (click)="toggleClientList()">
  {{ showClients ? 'Esconder Lista de Clientes' : 'Mostrar Lista de Clientes' }}
</button>

<div *ngIf="showClients" class="client-list-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.id }}</td>
        <td>{{ client.nome }}</td>
        <td>{{ client.cpf }}</td>
        <td>{{ client.telefone }}</td>
      </tr>
    </tbody>
  </table>
</div>
