mat-card {
  margin: 20px;
  padding: 10px;
  max-width: 250px;
  width: 100%;
  margin-top: 20px;
}

button {
  display: block;
  margin: 0 auto 10px left;
  margin-top: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #f5f5f5;
}

th {
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}
