<mat-sidenav-container class="navbar-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/"href="#">
        <i class="material-icons nav-icon">home</i>
        <span class="nav-text">Início</span>
      </a>
      <a mat-list-item routerLink="/clientes" href="#">
        <i class="material-icons nav-icon">person</i>
        <span class="nav-text">Clientes</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
