.navbar-container {
  height: 90.7vh;
  box-sizing: border-box;
}
mat-sidenav {
  width: 130px;
  background-color: #1976d2;
  color: #fff;
  box-sizing: border-box;
  border-radius: 0;
}
.mat-list-item {
  color: #fff;
  display: flex;
  align-items: center;
}
.nav-icon {
  margin-right: 10px;
  font-size: 24px;
}
mat-sidenav-content {
  padding: 20px;
  overflow: auto;
}
